    <div class="item-list"><ul>
      <li class="first">
        <a href="http://www.prosepoint.net/articles/985-nine-things-publishing-online-news-website">Nine things to know before publishing an online news website</a>
      </li><li>
        <a href="http://www.prosepoint.net/articles/986-open-source-newspaper-magazine-websites-diy">Open source newspaper and magazine websites: The Do-It-Yourself approach</a>
      </li><li>
        <a href="http://www.prosepoint.net/node/434-legal-liability-issues-for-publishing-news">Legal and liability issues for publishing an online news site</a>
      </li>
      </li><li class="last">
        <a href="http://www.prosepoint.net/articles/1029-prosepoint-express-duplicate-content-problem">How ProsePoint Express solves the Google duplicate content problem [seo]</a>
      </li>
    </ul></div>
