    <div class="item-list"><ul>
        <li class="first"><a href="http://www.prosepoint.net/node/434-legal-liability-issues-for-publishing-news">Legal and liability issues for publishing an online news site</a></li>
        <li><a href="http://www.prosepoint.net/node/384">Recent updates, August 2011: Search and tagging</a></li>
        <li><a href="http://www.prosepoint.net/node/345">Recent updates, July 2011</a></li>
        <li><a href="http://www.prosepoint.net/showcase/309-aerotelegraph">aeroTELEGRAPH: Niche German language aviation news website</a></li>
        <li><a href="http://www.prosepoint.net/showcase/308-saanj-news">Saanj News: Newspaper for a social network</a></li>
        <li><a href="http://www.prosepoint.net/node/295">Recent updates, June 2011</a></li>
        <li><a href="http://www.prosepoint.net/node/244">Recent updates, May 2011</a></li>
        <li><a href="http://www.prosepoint.net/documentation/using-prosepoint-express-securely-ssl">Using ProsePoint Express securely with SSL encryption</a></li>
        <li><a href="http://www.prosepoint.net/node/197">Recent updates, April 2011</a></li>
        <li><a href="http://www.prosepoint.net/showcase/191-la-pagina-0">LaPagina0: A spanish journalistic website</a></li>
        <li><a href="http://www.prosepoint.net/showcase/190-huntington-news">Huntington News: A regional newspaper in West Virginia</a></li>
        <li><a href="http://www.prosepoint.net/node/184">Widgets will no longer have local settings per layout. This may impact your site. </a></li>
        <li><a href="http://www.prosepoint.net/node/177">Recent updates and developments, March 2011</a></li>
        <li><a href="http://www.prosepoint.net/node/161">Downtime advisory: Scheduled maintenance, March 14th 2011</a></li>
        <li><a href="http://www.prosepoint.net/documentation/serving-advertisements/ad-server">Ad server</a></li>
        <li><a href="http://www.prosepoint.net/98-recent-updates-developments-jan-2011">Recent updates and developments, January 2011</a></li>
        <li><a href="http://www.prosepoint.net/82-stretchable-zones-and-selective-visibility-for-widgets">Strechable zones and selective visibility for widgets</a></li>
        <li><a href="http://www.prosepoint.net/documentation/embedding-youtube-and-other-oembed-objects">Embed Youtube video and other objects</a></li>
        <li class="last"><a href="http://www.prosepoint.net/node/60-moving-to-48-columns">Moving to 48 columns</a></li>    
    </ul></div>
