<p>
<a href="http://www.prosepoint.net/showcase/309-aerotelegraph" title="aeroTELEGRAPH: Niche German language aviation news website"><img src="http://www.prosepoint.net/sites/default/files/imagecache/w200/n0/aerotelegraph-screenshot.png" alt="Screenshot" style="border: 1px solid #ccc;" height="200" width="200" /></a><br />
<a href="http://www.prosepoint.net/showcase/309-aerotelegraph" title="aeroTELEGRAPH: Niche German language aviation news website">aeroTELEGRAPH: Niche German language aviation news website</a>
</p>
<p>
<a href="http://www.prosepoint.net/showcase/308-saanj-news" title="Saanj News: Newspaper for a social network"><img src="http://www.prosepoint.net/sites/default/files/imagecache/w200/n0/saanjnews-screenshot.png" alt="Screenshot" style="border: 1px solid #ccc;" height="200" width="200" /></a><br />
<a href="http://www.prosepoint.net/showcase/308-saanj-news" title="Saanj News: Newspaper for a social network">Saanj News: Newspaper for a social network</a>
</p>
<p>
<a href="http://www.prosepoint.net/showcase/191-la-pagina-0" title="LaPagina0: A spanish journalistic website"><img src="http://www.prosepoint.net/sites/default/files/imagecache/w200/n0/lapagina0-screenshot.png" alt="Screenshot" style="border: 1px solid #ccc;" height="200" width="200" /></a><br />
<a href="http://www.prosepoint.net/showcase/191-la-pagina-0" title="LaPagina0: A spanish journalistic website">LaPagina0: A spanish journalistic website</a>
</p>
<p>
<a href="http://www.prosepoint.net/showcase/190-huntington-news" title="Huntington News: A regional newspaper in West Virginia"><img src="http://www.prosepoint.net/sites/default/files/imagecache/w200/n0/huntingtonnews-screenshot.png" alt="Screenshot" style="border: 1px solid #ccc;" height="200" width="200" /></a><br />
<a href="http://www.prosepoint.net/showcase/190-huntington-news" title="Huntington News: A regional newspaper in West Virginia">Huntington News: A regional newspaper in West Virginia</a>
</p>
