body { background: #303030; color: #bbb; }
#page { min-width: 880px; }

#header { background: #35569b; color: #fff; border-top: 5px solid #fff; border-bottom: 5px solid #fff; }
#header { background-image: -moz-linear-gradient(top, #4264ab, #263e6f);
background-image: -webkit-gradient(linear, left top, left bottom, from(#4264ab), to(#263e6f));
background-image: -webkit-linear-gradient(top, #4264ab, #263e6f);
background-image: -o-linear-gradient(top, #4264ab, #263e6f);
background-image: linear-gradient(top, #4264ab, #263e6f);
zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4264ab, endColorstr=#263e6f);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4264ab, endColorstr=#263e6f);
background-image: -ms-linear-gradient(top, #4264ab, #263e6f); 
}
#header-1 { padding: 0 60px 20px; }

#logo-title { padding-top: 10px; }
#logo { float: left; margin-right: 10px; margin-top: 9px; }

#site-name { font-family:  Georgia,"Times New Roman",Times,serif; font-style: italic; font-size: 2.5em; line-height: 40px; font-weight: bold; text-shadow: 2px 2px #000; }
#site-name, #site-name a { color: #f0f0f0; }
#site-name a:hover { text-decoration: none; text-shadow: 4px 4px #000; }

#navigation { padding: 0 60px; }

#primary { position: absolute; right: 0; top: 55px; z-index: 10; text-transform: uppercase; }
ul.primary-links { margin-right: 60px; }
.admin-menu #primary { top: 75px; }
#primary li { float: left; padding: 0; position: relative; }
#primary li a { font-weight: bold; color: #fff; padding: 0 0 0 12px; text-shadow: 2px 2px #000; font-size: 13px; line-height: 20px; }
#primary li a:hover { text-shadow: 4px 4px #000; }

#secondary { position: absolute; right: 0; top: 5px; z-index: 10; }
.admin-menu #secondary { top: 25px; }
ul.secondary-links { margin-right: 60px; }
#secondary li { float: left; margin: 0 0 0 2px; padding: 0; }
#secondary li a { background: #fff; text-decoration: none; display: block; color: #111; line-height: 16px; padding: 0px 8px 2px 8px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; border-top: 1px solid #fff; }
#secondary li a { background-image: -moz-linear-gradient(top, #ffffff, #d2d2d2);
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2d2d2));
background-image: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
background-image: -o-linear-gradient(top, #ffffff, #d2d2d2);
background-image: linear-gradient(top, #ffffff, #d2d2d2);
_display: inline-block; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#d2d2d2);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#d2d2d2);
background-image: -ms-linear-gradient(top, #ffffff, #d2d2d2); 
}
#secondary li a:hover { text-decoration: underline; }
#secondary li.menu-235 a { margin-right: 2em; }

#container { padding: 20px 60px; color: #000; background: #a5a092; }
#container { background-image: -moz-linear-gradient(top, #9d9889, #d9d6ce);
background-image: -webkit-gradient(linear, left top, left bottom, from(#9d9889), to(#d9d6ce));
background-image: -webkit-linear-gradient(top, #9d9889, #d9d6ce);
background-image: -o-linear-gradient(top, #9d9889, #d9d6ce);
background-image: linear-gradient(top, #9d9889, #d9d6ce);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9d9889, endColorstr=#d9d6ce);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9d9889, endColorstr=#d9d6ce);
background-image: -ms-linear-gradient(top, #9d9889, #d9d6ce);  
}

/* Layout */
#main { margin: 0; padding: 0; float: right; width: 100%; }
.sidebar-left #main, .two-sidebars #main { margin-left: 33.333%; width: 66.667%; }
#sidebar-left { width: 33.333%; float: left; margin: 0 -33.333% 0 0; padding: 0; }

#content { margin: 0 -100% 0 0; padding: 0; float: left; width: 100%; }
.sidebar-right #content, .two-sidebars #content { margin-right: 33.333%; width: 66.667%; }

#sidebar-right { width: 33.333%; float: right; margin: 0 0 0 -33.333%; padding: 0; }
.sidebar-left #sidebar-right, .two-sidebars #sidebar-right { width: 33.333%; margin: 0 0 0 -33.333%; padding: 0; }
#postscript-one, #postscript-two { clear: both; }
/* End Layout */

#preface-one, #preface-two { padding: 20px; margin-bottom: 20px; background: #fff; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }

#content { margin-bottom: 20px; background: #fff; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }
#content-inner { padding: 0 20px 20px; }

#breadcrumb { margin-top: 10px; color: #888; }
#breadcrumb a { color: #888; }
.breadcrumb { padding-bottom: 0; }

#page-title { padding: 10px 20px; color: #111; background: #fff; margin: 0 -20px; }
.with-breadcrumb #page-title { padding-top: 0; }
.no-tabs #page-title, .in-maintenance #page-title { border-bottom: 5px solid #666; margin-bottom: 15px; }

div.tabs { margin: 0 -20px 10px -20px; }
ul.tabs { height: 30px; background: #444; color: #eee; margin: 0; padding: 0 10px; }
ul.tabs li { float: left; margin: 0; padding: 0; border: 0; }
ul.tabs li a { background-color: transparent; border: 1px solid #323232; border-width: 0 1px 0 0; margin-right: 0; padding: 5px 10px; text-decoration: none; color: #eee; display: block; line-height: 20px; }
ul.tabs li.active a, ul.tabs li a:hover { background-color: transparent; border: 1px solid #323232; border-width: 0 1px 0 0; }
ul.tabs li a:hover { text-decoration: underline; } 
ul.tabs a.active { font-weight: bold; }

ul.primary { border-bottom: 0; }
ul.secondary { background-color: #707070; border-bottom: 0; }
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover { border-color: #ccc; }

#wb-admin-menu { background: #444; color: #eee; padding: 0 10px; }
#wb-admin-menu a, #wb-admin-menu span { border-left-color: #444; }
#wb-admin-menu li li a:hover { background-color: #444; }

#content-content { min-height: 200px; }
.in-maintenance #content-content p { max-width: 45em; }

#sidebar-left-inner { margin: 0 20px 20px 0; }
#sidebar-right-inner { margin: 0 0 20px 20px; }
#sidebar-left-inner, #sidebar-right-inner { background: #fff; padding: 10px; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }
.sidebar .block-title { margin-top: 10px; margin-bottom: 10px;  }

#postscript-one { padding: 20px; margin-bottom: 20px; background: #fff; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }

#postscript-two { padding: 20px; background: #fff; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }
#postscript-two .block-title { margin-top: 10px; margin-bottom: 10px;  }

#footer { margin: 0; padding: 20px 60px; color: #bbb; background: #303030; border-top: 5px solid #fff; }
#footer a { color: #f0f0f0; }

#footer-column-0 { float: right; }
#footer-column-1 { float: left; }
#footer-1, #footer-2 { float: left; }
#footer-1-inner, #footer-2-inner { margin: 0 40px 0 0; }
 
#footer .block { margin-bottom: 20px; }
#footer .block-title { color: #fff; }
#footer .block h2.block-title, #footer .block h3
{ font-size: 1.3333em; line-height: 1.25; font-weight: normal; }

#footer ul.menu, #footer ul.menu li { list-style: none; margin: 0; padding: 0; }

.block-region { color: #000; }
.block .item-list ul { padding: 0; }

.node .meta { color: #888; font-size: 0.91667em; line-height: 1.81818; }
.node ul.links { display: block; padding: 0; }
.node .links li { padding-left: 0; }

.node-teaser { margin-bottom: 60px; } 
.node-teaser .node-title { text-decoration: underline; }
.node-teaser ul.links { display: block; padding: 0; }

.node { max-width: 600px; }
.node p, .node ul { max-width: 45em; }

#comments { margin: 20px 0; padding-top: 20px; }
.comment { margin-bottom: 40px; max-width: 45em; }
.comment .submitted { color: #888; font-size: 0.91667em; line-height: 1.81818; }
#comment-form { margin-bottom: 40px; }

.node-type-support-ticket #comments .box h2 { display: none; }
.page-comment #content-content .box h2 { display: none; }
.support-priority, .support-state, .support-client{ font-size: 0.91667em; line-height: 1.81818; padding: 0 0 0 20px; background-color: transparent; color: #141dc3; }
.support-client { display: none; }

div.messages { border-width: 1px; margin-bottom: 1em; padding: 19px 10px; }
div.status { border: 1px solid #72cb67; background: #dffad3; }
div.warning { border-color: #d3c200; background: #fffac6; }
div.error { border-color: #ec9b9b; background: #fae2e3; }

ul.menu { padding: 0 0 0 1em; margin-bottom: 10px; line-height: 20px; }
ul.menu li, ul.menu a { line-height: 20px; }
ul.menu li { margin: 0 0 0 0.5em; padding: 0 0 0 0; }

/* Lists */

dt { font-weight: bold; background: transparent; }
dd { padding-left: 16px; }

/* Forms */
#content fieldset {
  background-color: #fafafa;
  border: 1px solid #c4c4c4;
  margin: 1em 0 1.2em;
  padding: 1em 1em 0.5em;
}

#content fieldset h1, #content fieldset h2, #content fieldset h3 {
  background: none;
  border-bottom: 1px solid #BCD;
  margin-bottom: 0.6em;
  padding-bottom: 0.3em;
  padding-left: 0;
}

.form-item { margin-bottom: 20px; margin-top: 20px; }
.form-checkboxes .form-item, .form-radios .form-item { margin-bottom: 0; margin-top: 0; }

label {
  display: block;
  font: bold 0.9em Verdana,sans-serif;
  margin: 1em 0 0.2em;
}
label em {font-style: normal;}

input, textarea, select {
  border-color: #777 #CCC #CCC #777;
  border-style: solid;
  border-width: 1px;
  font: normal 1em Verdana,sans-serif;
  padding: 4px;
}
html.js input.form-autocomplete {
  background-position: 100% 6px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -14px; /* LTR */
}

input.button, input.form-submit {
  background: #E9E8E8 url('images/submit.gif') repeat-x left top;
  border: 1px solid #888;
  border-color: #BBB #888 #888 #CCC;  
  color: #444;
  cursor: pointer;
  font: normal 0.9em sans-serif;
  margin-top: 5px;
  padding: 4px 6px;
  width: auto;
}
input:focus,input:active,textarea:focus,textarea:active,select:focus,select:active,input.button:hover,input.button:focus {background: #FFFFF5;}
input.button:hover, input.button:focus {
  color: #123;
  cursor: pointer;
}
input.image {
  border: 0;
  padding: 0;
}

form .container-inline { margin-bottom: 20px; }

form div.form-item { clear:both; position:relative; }
form div.form-item-with-label
{ padding-left: 160px; }
form div.form-item-with-label label {
  margin-top: 0.5em;
  position: absolute;
  left:0px;
  width: 140px;
}
form div.form-item-with-label .form-item label { position: static; }

/* Undo inline form elements for some cases */
td .container-inline div.form-item-with-label, /* Layout and widgets draggable table */
#comment-form .container-inline div.form-item-with-label /* Support ticket properties */
{ padding-left: 0; }
td .container-inline div.form-item-with-label label, 
#comment-form .container-inline div.form-item-with-label label 
{ position: static; }

/* Book hierarchy */
.block-book ul.menu, .block-book ul.menu li, .block-navigation ul.menu, .book-navigation ul.menu li { list-style: none; list-style-image: none; }
.block-book ul.menu { padding-left: 0.25em; }
.block-book ul.menu ul, .book-navigation ul.menu ul { margin-bottom: 0; padding-bottom: 10px; }
.block-book ul.menu li, .book-navigation ul.menu li { margin-left: 0; padding-left: 14px; background: transparent url("images/menu-sub.png") no-repeat; }
.block-book ul.menu li.last, .book-navigation ul.menu li.last { background-position: 0 -980px; }
.block-book ul.menu li.collapsed a:after, .book-navigation ul.menu li.collapsed a:after { content: ' » '; }

/* pagers */
.pager { float: right; }
.item-list .pager li { margin: 0; padding: 0; }
.pager li a { background: #eeeeee; text-align: center; color: #333333; font-weight: bold; text-decoration: none; margin: 0px 1px 0px 1px; padding: 2px 5px; border: 1px solid #dddddd; border-bottom: 1px solid #cccccc; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }

.pager li a:hover { background-color: #FFFFFF; color: #0d72c5; text-decoration: underline; }

.pager li.pager-current { background: #333; text-align: center; color: #ffffff; font-weight: bold; text-decoration: none; margin: 0px 1px 0px 1px; padding: 2px 5px; border: 1px solid #dddddd; border-bottom: 1px solid #cccccc; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }

/* Drupal modules */
div.codeblock { font-family: normal sans-serif; font-size: 0.91667em; line-height: 20px; background: #eaeaea; color: #333; border: 1px solid #aaa; border-width: 0 0 0 2px; padding: 10px 10px 10px 8px; }
.order-pane-table thead th { background-color: #555; border-width: 0; padding: 3px 5px 4px 5px; }
.line-item-table tr, .line-item-table td { border-width: 0; }

/* Application specifics */
#hover-preview { border: 1px solid #ddd; }
.wb-site-dashboard .markup { margin-bottom: 20px; }

.tabledrag .container-inline { margin-bottom: 10px; }
table#blocks .container-inline { margin-bottom: 0; }
table#blocks .widget-type-description { font-size: x-small; }
/* Borders on draggable table seems to cause problems on Firefox and IE8 */
table.tabledrag-processed { border-left-width: 0; border-right-width: 0; }

#uc-ns-payorder-pane-form .form-submit { font-weight: bold; }
input.uc-ns-paypal-payment-button { background: transparent none; border-width: 0; }

/* wb-service-links table */
#wb-service-links-overview { width: auto; }
#wb-service-links-overview td img { vertical-align: middle; }

.search-title { font-size: 1.16667em; line-height: 1.42857; font-weight: normal; }
.search-result { padding-left: 0; margin-bottom: 20px; }
.search-result-url { color: #16704a; }
.search-snippet { max-width: 45em; }
.search-result-date, .search-result-info { color: #606060; }

/* Website specifics */
a.big-button { -moz-border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px 7px 7px 7px; border-radius: 7px 7px 7px 7px; font-weight: bold; padding: 10px 14px; margin: 0; background: #2e974b; color: #fff; }
a.big-button:hover { }

#splash { margin: 0 0 20px; background: #e9e9e9 url('images/content-bg2.png') left 0 repeat-x; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666; }
#splash .block-inner { background: transparent url('images/woman-bg.jpg') no-repeat scroll right -45px; width: 580px; margin: 0 auto; }
#splash .block .content { font-size: 24px; line-height: 40px; margin: 0; padding: 40px 0; } 
#splash .block img { border: 1px solid #ccc; }
#splash .block a:hover img { border: 1px solid #888; }

.page-node-1 #page-title { text-align: center; }
.page-node-1 #node-1 { max-width: 45em; margin: 0 auto; }
#block-block-2 { text-align: center; }
#block-block-2 img { border: 1px solid #ccc; }
#block-block-2 a:hover img { border: 1px solid #888; }

.page-contact #content-content { max-width: 45em; }

/* pricing page  */
.ppe-pricing p, .ppe-pricing ul { max-width: 45em; }
.underline { text-decoration: underline; }
#ppe-pricing { width: auto; border: 0; }
#ppe-pricing tr { border: 0; }
#ppe-pricing th, #ppe-pricing td { vertical-align: baseline; padding: 0 5px; border-bottom: 2px solid #f4f4f4; color: #000; } 
#ppe-pricing th { padding: 5px 5px; }
#ppe-pricing tr, #ppe-pricing tr:hover, #ppe-pricing td, #ppe-pricing th { background-image: none; }
#ppe-pricing img { vertical-align: middle; }

#ppe-pricing .column-1 { width: 230px; } 
#ppe-pricing .column-2,
#ppe-pricing .column-3,
#ppe-pricing .column-4,
#ppe-pricing .column-5 { width: 150px; } 
#ppe-pricing .separator .column { padding-bottom: 20px; }

#ppe-pricing th.column-1 { background-color: #d6d6d6; } 
#ppe-pricing th.column-2 { background-color: #dfdfb8; } 
#ppe-pricing th.column-3 { background-color: #b8dfb8; } 
#ppe-pricing th.column-4 { background-color: #b8c7df; } 
#ppe-pricing th.column-5 { background-color: #dfb9b8; } 
#ppe-pricing .column-1 { font-weight: bold; background-color: #eaeaea; color: #333; } 
#ppe-pricing .column-2 { background-color: #f2f2d9; } 
#ppe-pricing .column-3 { background-color: #d9f2d9; } 
#ppe-pricing .column-4 { background-color: #d9e5f2; } 
#ppe-pricing .column-5 { background-color: #f2dad9; }
#ppe-pricing .row-1 .column-1 { color: #000; } 

#ppe-pricing .row-price .column-1 { text-align: left; }
#ppe-pricing .price { font-weight: bold; display: block; font-size: 1.16667em; line-height: 1.42857; margin: 0; }

#ppe-pricing .row-value .column { border-bottom: 0px; }
#ppe-pricing .row-value .column-2, #ppe-pricing .row-value .column-3, #ppe-pricing .row-value .column-4, #ppe-pricing .row-value .column-5 { font-style: italic; }

#ppe-pricing .row-sign-up .column { vertical-align: middle; padding: 10px 5px; text-align: center; }
#ppe-pricing .row-sign-up .overlay { position: absolute; z-index: 10; width: 470px; }


