{% if layout.sidebar_right_blurb_content %}
<div id="" class="block block-ppe"><div class="block-inner"><div class="block-inner-1">
  {% if layout.sidebar_right_blurb_title %}<h2 class="block-title">{{ layout.sidebar_right_blurb_title }}</h2>{% endif %}
  <div class="content">
    {{ layout.sidebar_right_blurb_content }}
  </div>
</div></div></div>
{% endif %}
{% if layout.sidebar_right_site_posts_titles %}
<div id="" class="block block-ppe"><div class="block-inner"><div class="block-inner-1">
  <h2 class="block-title">Recent Updates</h2>
  <div class="content">
    {% include site_posts_titles.html %}
  </div>
</div></div></div>
{% endif %}
{% if layout.sidebar_right_external_posts_titles %}
<div id="" class="block block-ppe"><div class="block-inner"><div class="block-inner-1">
  <h2 class="block-title">{{ page.external_posts_title }}</h2>
  <div class="content">
    {% include external_posts_titles.html %}
  </div>
</div></div></div>
{% endif %}
{% if layout.sidebar_right_featured_showcases %}
<div id="" class="block block-ppe"><div class="block-inner"><div class="block-inner-1">
  <h2 class="block-title">Featured Showcases</h2>
  <div class="content">
    {% include featured_showcases.html %}
  </div>
</div></div></div>
{% endif %}
