---
layout: page
site_name: status.prosepoint.net
site_slogan: Network status and uptime information for ProsePoint Express
base_url: /
primary_links: backlink
secondary_links: false
sidebar_right_site_posts_titles: true
sidebar_right_external_posts_titles: false
google_sitesearch: prosepoint.net
piwik_base: www.prosepoint.net/piwik/
piwik_site_id: 5

sidebar_right_blurb_title: About this site
sidebar_right_blurb_content: <p>This site contains service status and uptime information for <a href="http://www.prosepoint.net">ProsePoint Express</a>. If ProsePoint Express is down, it will be logged here.</p>
---
